sudo: required
services:
  - docker
before_install:
  - docker build -t dharani265/react-nodejs-practise  -f Dockerfile.dev .
script:
  - docker run -e CI=true dharani265/react-nodejs-practise  npm run test -- --coverage
